.button {
    font-size: 1rem;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: #283618;
    color: #fefae0;
    min-width: 8rem;
    padding: .8rem 1.2rem;
    box-sizing: border-box;
    transition: 0.1ms;
}

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #606c38,0 0 0 4px #283618;
}

.butto:disabled{
    opacity: 0.5;
    cursor: wait;
}
